HOST=(stage.rpc.buidlguidl.com or pool.mainnet.rpc.buidlguidl.com)
FALLBACK_URL=(alchemy key or whatever provider)
DB_HOST=
RDS_SECRET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_IDS=